* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid green; */
}

:root {
  --bg-mainColor: #ffe976;
  --text-dark: #000000;
  --task-done: #69f851;
  --task-todo: #254069;
  --add-task: #ffc00e;
  --priority-high: #dd1515;
  --priority-mid: #a6a6a6;
  --priority-low: #79af92;
  --btn-addtask: #ffffff;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: var(--bg-mainColor);
  color: var(--text-dark);
  padding: 2px 2rem;
}

header {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
}

.header__head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: clamp(3rem, 18vw, 9rem); */
  padding: 1rem 2rem;
  margin: 0.5rem auto 1rem auto;
}

.image-container {
  display: flex;
  gap: 8px;
}

.header__head img {
  border-radius: 50%;
  width: clamp(1.2rem, 5vw, 4rem);
  height: clamp(1.2rem, 5vw, 4rem);
}

.header__addtask-layout {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0.5rem auto 1rem auto;
}

#addTaskBtn {
  width: clamp(4rem, 40vw, 23rem);
  height: 6vh;
  border-radius: 10px;
  background-color: var(--btn-addtask);
  padding: 6px;
  transition: transform 0.3s ease-in;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#addTaskBtn:hover {
  transform: scale(1.07);
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.7);
}

/* #formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.priority {
  display: flex;
  flex-direction: column;
  /* align-items:flex-end; */
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0.5rem auto 1rem auto;
  text-align: justify;
}

.priority::before {
  content: "";
  border: 1px solid black;
}

.relax div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.relax img {
  max-width: 240px;
  max-height: 240px;
}

.banner {
  position: relative;
  overflow: visible;
}

.banner::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 40%;
  width: clamp(3rem, 20vw, 18rem);
  height: clamp(3rem, 20vw, 18rem);
  background: radial-gradient(circle, var(--task-todo));
  border-radius: 50%;
  animation: pulse 2s infinite ease-in-out;
  z-index: -1;
  pointer-events: none;
}

.tasks-by-time {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 0.5rem auto 1rem auto;
  position: relative;
  max-width: 600px;
}

.task-titles {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.task-titles p {
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  border-top: 2px solid var(--task-todo);
  border-right: 2px solid var(--task-todo);
}

.task-titles p.active {
  background-color: #ccc;
}

.task-content {
  position: relative;
  min-height: 200px;
}

.task-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.task-body.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.alltasks {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 0.5rem auto 1rem auto;
  gap: 1rem;
}

.alltasks::before {
  content: "";
  border: 1px solid black;
}

.alltasks__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#taskFilter {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 3px solid var(--text-dark);
  background-color: var(--add-task);
  color: var(--text-dark);
  font-size: 1rem;
  cursor: pointer;
}

#taskFilter option {
  background-color: var(--btn-addtask);
  color: var(--task-todo);
  font-size: 1rem;
}

/* TO HELP JS RENDERING  */

#priorityContainer,
#filteredTasksContainer {
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 10px;
  /* background-color: pink; */
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
}

.priorityTask {
  /* display: inline-block; */
  background-color: var(--priority-mid);
  height: clamp(13rem, 40vh, 25rem);
  width: clamp(13rem, 23vw, 20rem);
  padding: 1rem 1.3rem;
  /* margin: 1rem; */
}

.priorityTask:hover {
  border: 3px solid blue;
}

.priorityTask__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.priorityTask__btnContainer button {
  width: clamp(1.5rem, 4vw, 2rem);
  background-color: transparent;
  /* border: none; */
}

.red,
.blue,
.green {
  border-radius: 10px;
  color: var(--btn-addtask);
  padding: 4px;
  display: inline-block;
  min-width: 4rem;
  text-align: center;
  margin: 4px auto;
}

.red {
  background-color: var(--priority-high);
}
.blue {
  background-color: var(--task-todo);
}
.green {
  background-color: var(--priority-low);
}

.task-titles {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.task-titles p.active {
  background-color: var(--task-todo);
  color: var(--btn-addtask);
  font-weight: bold;
}

.task-content .task-body {
  display: none;
  padding: 1rem;
  border: 2px solid var(--text-dark);
  min-height: 100px;
  background-color: var(--task-todo);
  color: var(--btn-addtask);
  box-shadow: 3px 8px 2px rgba(0, 0, 0, 0.8);
}

.task-body p {
  border: 1px dashed var(--priority-mid);
  margin-bottom: 4px;
  padding: 4px 6px;
}

.task-content .task-body.active {
  display: block;
}

/* form  */

form {
  padding: 1rem;
  color: var(--text-dark);
  font-family: "Segoe UI", sans-serif;
}

form label {
  font-weight: 600;
  margin-bottom: 0.25rem;
  /* display: block; */
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1rem;
  border: 1.5px solid var(--task-todo);
  border-radius: 5px;
  font-size: 1rem;
  /* font-family: inherit; */
  background: transparent;
  color: var(--text-dark);
}

textarea {
  resize: vertical;
  min-height: 70px;
}

fieldset {
  border: none;
  margin-bottom: 1rem;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.radio-group {
  display: flex;
  gap: 1rem;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: 1px solid var(--text-dark);
  border-radius: 9px;
  color: var(--text-dark);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  min-width: 60px;
  font-size: 0.85rem;
  text-align: center;
}

.radio-group input[type="radio"]:checked + label {
  box-shadow: 0 6px 0px var(--text-dark);
}

.red-bg {
  background-color: var(--priority-high);
}

.blue-bg {
  background-color: var(--task-todo);
}

.green-bg {
  background-color: var(--priority-low);
}

.form__btnContainer {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 3px dashed var(--task-todo);
}

.form__btnContainer button {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem;
  border: 2px solid var(--task-todo);
  border-bottom: none;
  border-left: none;
  transition: all 0.3s ease;
}

.form__btnContainer button:hover {
  transform:rotateZ(6deg);
}
